<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Shopping</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon"
	href="/client/assets/img/favicon.ico">

<!-- CSS here -->
<link rel="stylesheet" href="/client/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/client/assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="/client/assets/css/flaticon.css">
<link rel="stylesheet" href="/client/assets/css/slicknav.css">
<link rel="stylesheet" href="/client/assets/css/animate.min.css">
<link rel="stylesheet" href="/client/assets/css/magnific-popup.css">
<link rel="stylesheet" href="/client/assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/client/assets/css/themify-icons.css">
<link rel="stylesheet" href="/client/assets/css/slick.css">
<link rel="stylesheet" href="/client/assets/css/nice-select.css">
<link rel="stylesheet" href="/client/assets/css/style.css">
</head>

<body>
	<!--? Preloader Start -->
<!--	<div id="preloader-active">-->
<!--		<div-->
<!--			class="preloader d-flex align-items-center justify-content-center">-->
<!--			<div class="preloader-inner position-relative">-->
<!--				<div class="preloader-circle"></div>-->
<!--				<div class="preloader-img pere-text">-->
<!--					<img src="/client/assets/img/logo/logo.png" alt="">-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->

	<div th:insert="~{/client/fragment :: headerBox}"></div>

	<main>
		<section class="popular-items">
			<div th:if="${categoryDao == null}" class="hero-cap text-center">
				<h2 th:if="${session.userName == null}" style="margin: 40px auto;">WELCOME TO OUR SHOP</h2>
				<h2 th:if="${session.userName != null}"
					th:text="'WELCOME BACK ' +  ${session.userName}"
					style="margin: 40px auto;"></h2>
			</div>
			<div th:if="${categoryDao != null}" class="hero-cap text-center" style="margin: 40px auto;">
				<h2 th:text="'List Product of ' + ${categoryDao.getCategory_name()}"></h2>
			</div>
			<div class="container">
				<nav class="blog-pagination justify-content-center d-flex mb-40">
					<ul  th:if="${pageNumbers != null}" class="pagination">
						<li th:each="slide : ${#numbers.sequence(1, pageNumbers)}" class="page-item">
							<a th:href="@{/slide/{id}(id=${slide})}" class="page-link" th:text="${slide}"> <i class="ti-angle-left"></i></a>
						</li>
					</ul>
				</nav>
				<!-- Nav Card -->
				<div class="tab-content" id="nav-tabContent">
					<!-- card one -->
					<div class="tab-pane fade show active" id="nav-home"
						role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="row">
							<div th:each="productDao : ${productDaos}"
								class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
								<div class="single-popular-items mb-50 text-center">
									<div class="popular-img">
										<img th:src="${productDao.getProdImg()}" alt="">
										<a  th:href="@{/add-to-cart(id=${productDao.getProdId()}, quantity=1)}">
											<div class="img-cap">
												<span>Add to cart</span>
											</div>
										</a>

										<div class="favorit-items">
											<span class="flaticon-heart"></span>
										</div>
									</div>
									<div class="popular-caption">
										<h3>
											<a th:href="@{/product-detail/{id}(id=${productDao.getProdId()})}"
												th:text="${productDao.getProdName()}"></a>
										</h3>
										<span
											th:text="${#numbers.formatDecimal(productDao.getProdPrice(), 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></span>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
				<!-- End Nav Card -->
			</div>
		</section>
		<!-- Latest Products End -->
		<!--? Shop Method Start-->
		<div class="shop-method-area">
			<div class="container">
				<div class="method-wrapper"></div>
			</div>
		</div>
		<!-- Shop Method End-->
	</main>

	<div th:insert="~{/client/fragment :: footerBox}"></div>

	<div th:insert="~{/client/fragment :: searchBox}"></div>

	<!-- JS here -->
	<!-- All JS Custom Plugins Link Here here -->
	<script src="/client/assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script src="/client/assets/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="/client/assets/js/popper.min.js"></script>
	<script src="/client/assets/js/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="/client/assets/js/jquery.slicknav.min.js"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="/client/assets/js/owl.carousel.min.js"></script>
	<script src="/client/assets/js/slick.min.js"></script>

	<!-- One Page, Animated-HeadLin -->
	<script src="/client/assets/js/wow.min.js"></script>
	<script src="/client/assets/js/animated.headline.js"></script>
	<script src="/client/assets/js/jquery.magnific-popup.js"></script>

	<!-- Scroll up, nice-select, sticky -->
	<script src="/client/assets/js/jquery.scrollUp.min.js"></script>
	<script src="/client/assets/js/jquery.nice-select.min.js"></script>
	<script src="/client/assets/js/jquery.sticky.js"></script>

	<!-- contact js -->
	<script src="/client/assets/js/contact.js"></script>
	<script src="/client/assets/js/jquery.form.js"></script>
	<script src="/client/assets/js/jquery.validate.min.js"></script>
	<script src="/client/assets/js/mail-script.js"></script>
	<script src="/client/assets/js/jquery.ajaxchimp.min.js"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script src="/client/assets/js/plugins.js"></script>
	<script src="/client/assets/js/main.js"></script>

</body>
</html>