<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" href="/static/css/style_home.css">
    </head>

    <body>
        <div class="navbar">
            <nav>
                <label id="logo">ShopName</label>
                <form action="" method="post">
                    <label>
                        <input type="text" placeholder="Search for product" name="search" autocomplete="off" required>
                    </label>
                    <button type="submit">Search</button>
                </form>

                <ul>
                    <li id="home"><a href="">Home</a></li>
                    <li id="help"><a href="">Help</a></li>
                    <li id="cart"><a href="">Cart</a></li>
                    <li id="my-account"> <a href=""> <%=user.getUserName()%> </a></li>
                    <li ><a href="">My Account</a></li>
                </ul>
                    <ul>
                    <li><a href="">Laptop</a></li>
                    <li><a href="">Smartphone</a></li>
                    <li><a href="">Tablet</a></li>
                    <li><a href="">Screen</a></li>
                </ul>
            </nav>
        </div>
<%--        <div class="product-list">--%>
<%--            <ul>--%>
<%--                <% for(Product i : prodList){--%>
<%--                    System.out.println(i);--%>
<%--                %>--%>
<%--                <li style="color: #d43f3a"><%=i.toString()%></li>--%>
<%--                <br/>--%>
<%--                <%}%>--%>
<%--            </ul>--%>
<%--        </div>--%>

        <div class="container my-3" style="margin-top: 180px; background-color: antiquewhite">
            <div class="d-flex py-3">
<%--                <h3>Total Price: $ ${(total>0)?dcf.format(total):0}</h3>--%>
                <a class="mx-3 btn btn-primary" href="cart-check-out">Check Out</a>
            </div>
            <table class="table table-light">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Buy Now</th>
                    <th scope="col">Cancel</th>
                </tr>
                </thead>
                <tbody>
                <%
                    if (cart_list != null) {
                        for (Cart c : cart_list) {
                            System.out.println(c);
                %>
                <tr>
                    <td><%=c.getProd_name()%></td>
                    <td><%=c.getProd_category()%></td>
                    <td><%=dcf.format(c.getProd_price())%></td>
                    <td>
                        <form action="order-now" method="post" class="form-inline">
                            <input type="hidden" name="id" value="<%=c.getProd_id()%>"
                                   class="form-input">
                            <div class="form-group d-flex justify-content-between">


                                <a class="btn btn-sm btn-decre" href="quantity-inc-dec?action=dec&id=<%=c.getProd_id()%>"><i class="fas fa-minus-square"></i></a>
                                <input type="text" name="quantity" class="form-control" value="<%=c.getQuantity()%>" readonly>
                                <a class="btn bnt-sm btn-incre" href="quantity-inc-dec?action=inc&id=<%=c.getProd_id()%>"><i class="fas fa-plus-square"></i></a>
                            </div>
                            <button type="submit" class="btn btn-primary btn-sm">Buy</button>
                        </form>
                    </td>
                    <td><a href="remove-product?id=<%=c.getProd_id()%>"
                           class="btn btn-sm btn-danger">Remove</a></td>
                </tr>

                <%
                        }
                    }
                %>
                </tbody>
            </table>
        </div>
    </body>
</html>