<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="UTF-8">
		<title>Register</title>
		<link rel="stylesheet" href="/css/style_register.css">

	</head>
	<body>
		<form action="register" method="post" id="register-form">
			<h1>Register</h1>
			<input type="text" name="user_name" class="input-bar" placeholder="User Name" autocomplete="off" required>
			<br>
			<input type="text" name="user_phone" class="input-bar" placeholder="Phone Number" autocomplete="off" required>
			<br>
			<input type="text" name="user_email" class="input-bar" placeholder="Email" autocomplete="off" required>
			<br>
			<input type="password" name="user_pass" class="input-bar" placeholder="Password" required>
			<br>
			<input type="password" name="password" class="input-bar" placeholder="Confirm Password" required>
			<br>
			<br>
			<input type="submit" value="Register" id="register-button">
			<br>
			<span>Already have an account&quest;</span>
			<a href="login" id="login">Login</a>
		</form>
	</body>
</html>